.github/**
.vscode/**
client/**
src/**
node_modules/**
browsers/**
.eslintignore
.gitignore
.npmrc
eslint.config.js
index.html
package-lock.json
pnpm-lock.yaml
tsconfig.json
vite.config.ts
resources/*.svg
bin/**
bench/**
docs/**
engine/**
